body{
	font-family: 'Montserrat';
	margin: 0;
	background-color: #fff;
	overflow-x: hidden;

}

h1{
	font-family: Helvetica;
	color: black;
}

.v-align{
	position: relative;
	top: 50%;
	transform: translateY(-50%)
}

.no-float{
	text-align: center;
    margin: 0 auto;
    float: none;
}

.box{
	width: 100px;
	height: 100px;
	background-color: #eee;
}

.front-page .box{
	background-color: #2980b9;
}


a{
	color: white;
}

li {
	list-style:   none;
	color: black;
	text-decoration: none;

}

/* Modal */

#modal{
	width: 250px;
	height: 250px;
	background-color: #efefef;
	position: absolute;
	border-radius: 5px;
	right: 40px;
	display: none;
}


.username{
	width: 80%;
	margin-top: 10px;
	padding-top: 10px;
	position: absolute;
	z-index: 401;
	margin-left: 24px;
}

.password{
	width: 80%;
	margin-top: 10px;
	padding-top: 80px;
	position: absolute;
	z-index: 400;
	margin-left: 24px;
}

.log-in-btn{
	width: 100px;
	height: 30px;
	border-radius: 2px;
	background-color: #F04E4E;
	display: inline-block;
	position: relative;
	color: white;
	text-align: center;
	z-index: 500;
	margin-top: 200px;
	margin-left: 120px;
	cursor: pointer;
}
.log-in-btn p{
	color: white;
	padding-top: 4px;
}

.log-in-btn:hover{
	background-color: #B13535;
}

/*header*/

.vpntunnel-nav{
	width: 100%;
	height: 8vh;
	display: flex;
	align-items: center;
	background-color: #2a353c;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: space-between;

}

.menu li{

	padding-right: 20px;
	float: right;
}

.menu-main-nav{
	padding-left: 600px;
}

.menu-item a {
    text-decoration: none;
    color: #30338E;
    font-weight: 400;
    padding-left: 20px;
	font-family: 'Montserrat';
	background-color: none;

}


.logo-image{
	padding-left: 60px;
}

.logoimg{
	max-height: 60px;
}

.menu-item a:hover {
    color: #54558E; }

.menu-catagories-container{
	width: 200px;
}
.header {
   position: relative;
   width: 100%; /* for IE 6 */
   height: 90vh;
   background-size:     cover;
   background-repeat:   no-repeat;
   background-position: center center

}

.header-banner-text{
	width: 100%;
	height: 200px;
	margin-top: 250;
	margin-left: 100px;

}


.header-banner-text h2{
	display: inline-block;
	color: white;
	font-size: 4em;
}

.header-button{
	width: 270px;
    height: 56px;
    border-radius: 2px;
    background-color: #09a3c6;
	display: inline-block;

}

.header-button img{
	float: right;
	padding-top: 8px;
	padding-right: 5px;
}

.header-button h4{
	position: absolute;
	padding-left: 10px;
	padding-top: 3px;

}

.btn-placement{
	text-align: center;
	margin: 0 auto;
	padding-top: 300px;
}


/*why vpn section*/

.why-content{
	text-align: center;
	margin-top: 50px;
	align-self: auto;
	height: 100vh;
	background-color: white;
}



.content h3{
	font-family: 'Montserrat';
	color: black;
	font-size: 2.5em;
}

.content p{
	font-family: 'Montserrat';
	color: black;
}


.why-vpn-content-3{
	padding-top: 100px;
}


.why-vpn{
	max-width: 70%;
	margin: 0 auto;
	text-align: center;
}

.why-vpn p{
	color: black;
}

.catagories{
	padding-top: 40px;
	padding-bottom: 50px;
	max-width: 70%;
	margin: 0 auto;
}

.vpn-info{
	padding-bottom: 20px;
}


.what-people-saying{
	height: 300px;
	width: 100%;
	background-color: #008487;
}

.what-people-saying p{
	color: white;
}


/*Services Section*/

.services-title{
	padding-bottom: 65px;
}

#vpn-services{
	height: 100vh;
	width: 100%;
	background-color: white;
	text-align: center;

}

.basic-service{
	height: 560px;
	width: 90%;
	background-color: #e4e4e4;
	border-radius: 5px;
}

.best-service{
	height: 600px;
	width: 90%;
	background-color: #e4e4e4;
	border-radius: 5px;
}

.service-top-section{
	height: 150px;
	width: 100%;
	background-color: #2A353C;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	/* F04E4E the red colour */
}
.service-top-section h2{
	color: white;
}

.best-top-section{
	height: 150px;
	width: 100%;
	background-color: #F04E4E;
	border-radius: 5px;
}

.best-top-section h2{
	color: white;
}

.service-title{
	margin-top: 10px;
}

.services-content{
	color: #666666;
	padding-top: 30px;
}

.services-content h2{
	color: black;
	padding-top: 30px;
	font-size: 3em;
}

.conditions h5{
	font-size: 10px;
}

.conditions{
	padding-top: 40px;
	font-size: 10px;
	margin-bottom: 0px;
}

.service-btn{
	margin-top: 10px;
	cursor: pointer;
	width: 90%;
    height: 56px;
    border-radius: 2px;
    background-color: #09a3c6;
    display: inline-block;
}

.service-btn h3{
	margin-top: 15px;
    margin-bottom: 10px;
}




/* Footer */

.footer{
	width: 100%;
	height: 60vh;
	background-color: #2a353c;
	display: flex;
	justify-content: center;
}

.footer p{
	color: white;
}

.footer h4{
	color: white;
}


.footer-text{
	width: 50%;
	height: 50%;
	margin-top: 50px;
	z-index: 10;
}

.back-to-top{
	align-self: flex-end;
	position: absolute;
	color: white;
	z-index: 100;
	right: 40;
	padding-bottom: 30;
}

.footer-img{
	width: 100%;
	align-self: flex-end;
	position: absolute;
}

.footer-img img{
	width: 100%;
}

.footer-banner-text{
	align-self: flex-end;
	position: absolute;
	color: white;
	z-index: 100;
	padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
	.btn-placement{
		padding-top: 40px;
	}
}
